<!DOCTYPE html>

<html>
<head>

	<script src="../js/jquery-3.3.1.min.js">
	</script>
    <script src="../js/scripts.js" type="text/javascript">
	</script>
	<title>VLADIMEME</title>
	<link href="../css/style.css" type="text/css" rel = "stylesheet">
</head>

<body>
	<header>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
		</script> 
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
		</script> 
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
		</script>
	</header>
	<!-- CONTENT -->


	<div id="wrapper">
		<div id="body">
			<!-- NAVBAR -->


			<nav class="navbar navbar-expand-md navbar-dark bg-dark">
				<div class="container-fluid">
					<!-- LOGO -->
					<a class="navbar-brand" href="index.html"><img class="rounded" height="65" src="../css/title-whitebackground.png" width="200"></a> <!-- NAVBAR ITEMS -->


					<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
						<div class="navbar-nav">
							<a class="nav-item nav-link active" href="#">Home<span class="sr-only">(current)</span></a> <a class="nav-item nav-link" href="#" id="loginbutton">Login</a> <a class="nav-item nav-link" href="#" id="registerbutton">Register</a>
						</div>
					</div>
					<!-- SEARCH BAR -->


					<form class="form-inline">
						<input aria-label="Search" class="form-control mr-sm-2" placeholder="Search" type="search"> <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
					</form>
				</div>
			</nav>
			<!-- LOGIN SIDEBAR -->


			<div id="loginsidebar">
				<div class="sidebar-nav">
					<form id="loginForm" name="loginForm">
						<span id="loginheader"></span>

						<h4><span id="loginheader">Login</span>
						</h4>
						<span id="loginheader"></span> <input class="logininput" placeholder="username"> <input class="logininput" placeholder="password" type="password"><br>
						<span id="loginbuttons"><button class="btn btn-outline-light" type="submit"><span id="loginbuttons"><span id="loginbuttons"><span id="loginbuttons">Login</span></span></span></button></span>
					</form>
				</div>
			</div>
			<!-- REGISTER SIDEBAR -->


			<div id="registersidebar">
				<div class="sidebar-nav">
					<form id="registerForm" name="registerForm">
						<span id="registerheader"></span>

						<h4><span id="registerheader">REGISTER</span>
						</h4>
						<span id="registerheader"></span> <input class="registerinput" placeholder="username"> <input class="registerinput" placeholder="password" type="password"><br>
						<span id="registerbuttons"><button class="btn btn-outline-light" type="submit"><span id="registerbuttons"><span id="registerbuttons"><span id="registerbuttons">Register</span></span></span></button></span>
					</form>
				</div>
			</div>
			<!-- MAIN CONTENT -->


			<div id="main-content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6">
							<!-- ADD POST HERE -->
							<!-- FIRST PLACEHOLDER -->


							<div class="post" data-target="#exampleModalCenter" data-toggle="modal">
								<div class="memeSpans">
									<div class="memeHeader">

										<h2><span class="nameSpan">When you are late for the deadline but you are friends with the professor</span>
										</h2>
										<span class="dateSpan"></span>

										<h4><span class="dateSpan">7/13/18</span>
										</h4>
									</div>


									<div class="imgContainer">
										<span class="img" id="meme1"><img height="100%" src="../css/simulations.jpg" width="100%"></span>
									</div>


									<div class="memeFooter">
										<span class="tagSpan"></span>

										<h5><span class="tagSpan">#filipino #bakit</span>
										</h5>
									</div>
								</div>
							</div>
						</div>


						<div class="col-md-6">
							<!-- SECOND PLACEHOLDER -->


							<div class="post">
								<div class="memeSpans">
									<div class="memeHeader">

										<h2><span class="nameSpan">When you are late for the deadline but you are friends with the professor</span>
										</h2>
										<span class="dateSpan"></span>

										<h4><span class="dateSpan">7/13/18</span>
										</h4>
									</div>


									<div class="imgContainer">
										<span class="img" id="meme1"><img height="100%" src="../css/simulations.jpg" width="100%"></span>
									</div>


									<div class="memeFooter">
										<span class="tagSpan"></span>

										<h5><span class="tagSpan">#filipino #bakit</span>
										</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- SECOND ROW -->


					<div class="row">
						<div class="col-md-6">
							<!-- ADD POST HERE -->
							<!-- THIRD PLACEHOLDER -->


							<div class="post">
								<div class="memeSpans">
									<div class="memeHeader">

										<h2><span class="nameSpan">When you are late for the deadline but you are friends with the professor</span>
										</h2>
										<span class="dateSpan"></span>

										<h4><span class="dateSpan">7/13/18</span>
										</h4>
									</div>


									<div class="imgContainer">
										<span class="img" id="meme1"><img height="100%" src="../css/simulations.jpg" width="100%"></span>
									</div>


									<div class="memeFooter">
										<span class="tagSpan"></span>

										<h5><span class="tagSpan">#filipino #bakit</span>
										</h5>
									</div>
								</div>
							</div>
						</div>


						<div class="col-md-6">
							<!-- FOURTH PLACEHOLDER -->


							<div class="post">
								<div class="memeSpans">
									<div class="memeHeader">
								
										<h2><span class="nameSpan">When you are late for the deadline but you are friends with the professor</span>
										</h2>
										<span class="dateSpan"></span>

										<h4><span class="dateSpan">7/13/18</span>
										</h4>
									</div>


									<div class="imgContainer">
										<span class="img" id="meme1"><img height="100%" src="../css/simulations.jpg" width="100%"></span>
									</div>


									<div class="memeFooter">
										<span class="tagSpan"></span>

										<h5><span class="tagSpan">#filipino #bakit</span>
										</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--   MODALS!  -->
		<div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade" id="exampleModalCenter" role="dialog" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="modal-title" id="exampleModalCenterTitle">When you are late for the deadline but you are friends with the professor</h2>
						<button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
					</div>


					<div class="modal-body"><img height="100%" src="simulations.jpg" width="100%">
					</div>


					<div class="modal-footer">
						<span class="tagSpan"></span>

						<h5><span class="tagSpan">#filipino #bakit</span>
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>